@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #ffff;
}
::-webkit-scrollbar-thumb {
  background: #1c1d1e;
  /* background: #13161b; */
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #032b43;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #d80000;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #e63946;
    --chart-2: #00a8e8;
    --chart-3: #4c5b5c;
    --chart-4: #00d084;
    --chart-5: #ffb703;
    --radius: 0.5rem;
  }
  .dark {
    --background: #1c1d1e;
    --foreground: #ffff;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #032b43;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #a80000;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #1e90ff;
    --chart-2: #0096c7;
    --chart-3: #d2691e;
    --chart-4: #8a2be2;
    --chart-5: #ff1493;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full min-h-screen text-foreground;
    /* snap-center */
  }
  .default-padding {
    @apply px-2 md:px-14 lg:px-40;
  }

  /* Responsive navBar animations */
  .backdrop-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .menu-slide-down {
    animation: slide-down 0.3s ease-out forwards;
  }
  @keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .gradient-text {
    @apply bg-gradient-to-r from-blue-900 to-sky-500 bg-clip-text text-transparent;
  }
}
